@charset "utf-8";
/* AccountStyleSheet */
.accountInfoContainer{
	margin: auto;
	width: 50%;
	height: 500px;
	background-color: #949494;
	text-align: center;
}
.accountInfoContainer div{
	margin: auto;
	width: 75%;
	color: white;
	font-size: 25px;
}
.accountInfoContainer a{
	/*margin: auto;*/
	margin-left: 15px;
	padding: 10px;
	width: 50px;
	color: white;
	font-size: 15px;
	text-decoration: none;
	background-color: #333333;
}
.accountInfoContainer a:hover{
	background-color: #7C7C7C;
}